@media(max-width: 1200px){
    .container {
        max-width: 960px;
    }
    
    .cards-content {
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    
    .cards-right {
        max-width: 540px;
        width: 100%;
    }
    
}

@media(max-width: 992px){
    .container {
        max-width: 720px;
    }
    
    .header-nav {
        padding-top: 30px;
    }
    
    .header-nav .container {
        flex-direction: column;
        row-gap: 30px;
    }
    
    .header-list {
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .banner {
        height: 90vh;
    }
    
    .footer .container {
        flex-wrap: wrap;
        row-gap: 30px;
        column-gap: 30px;
        justify-content: center;
    }
    
}

@media(max-width: 768px){
    .container {
        max-width: 540px;
    }
    
    .cards-left-img {
        max-width: 510px;
        width: 100%;
    }
    
    .cards-left-title, .cards-left-desc{ 
        text-align: center;
    }
    
    .cards-right {
        justify-content: center;
    }
    
}

@media(max-width: 576px){
    .container {
        max-width: auto;
    }
}

@media(max-width: 500px){
    .banner {
        height: 70vh;
    }
}

@media(max-width: 400px){
    .banner {
        height: 50vh;
    }
}


