@import url(./fonts.css);

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

body {
    font-family: 'Roboto';
    user-select: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

.header-nav {
    background: #322E41;
}

.header-nav .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-list {
    display: flex;
}

.header-link {
    display: block;
    padding: 23px 22px;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: 500ms;
}

.header-link:hover {
    background: #fff;
    color: #D47300;
}

.banner {
    background: url(../img/banner.jpg) center / cover no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.banner-title {
    font-weight: 700;
    font-size: 50px;
    line-height: 59px;
    color: #FFFFFF;
    text-transform: uppercase;
    margin-bottom: 15px;
}

.banner-desc {
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
    color: #FFFFFF;
}

.banner-desc span {
    font-weight: 700;
}

.cards {
    background: #EBEBEB;
}

.cards-content {
    display: flex;
    column-gap: 30px;
    transform: translateY(-38px);
}

.cards-left {
    max-width: 540px;
    width: 100%;
    background: #FFFFFF;
    border-radius: 6px;
    padding: 15px;
}

.cards-left-img {
    margin-bottom: 20px;
}

.cards-left-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
    color: #2C2A2A;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.cards-left-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #9B9B9B;
}

.cards-right {
    display: flex;
    flex-wrap: wrap;
    column-gap: 30px;
    row-gap: 30px;
}

.cards-item {
    max-width: 255px;
    width: 100%;
    padding: 15px;
    background: #FFFFFF;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cards-box {
    width: 80px;
    height: 80px;
    border: 2px solid #D47300;
    border-radius: 50%;
    margin-bottom: 15px;
}

.cards-item-img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.cards-item-title {
    font-weight: 700;
    font-size: 22px;
    line-height: 19px;
    text-align: center;
    color: #2C2A2A;
    text-transform: capitalize;
    margin-bottom: 10px;
}

.cards-item-desc {
    font-weight: 400;
    font-size: 16px;
    line-height: 16px;
    text-align: center;
    color: #9B9B9B;
}

.footer {
    background: #322E41;
    padding: 40px 0;
}

.footer .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer-form {
    max-width: 350px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.footer-input {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 9px 10px;
    outline: none;
    border: none;
    margin-bottom: 10px;
}

.footer-input::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #9B9B9B;
}

.footer-text {
    background: #FFFFFF;
    border-radius: 6px;
    padding: 10px;
    outline: none;
    border: none;
    min-height: 86px;
    margin-bottom: 10px;
    resize: none;
}

.footer-text::placeholder {
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: #9B9B9B;
}

.footer-btn {
    background: #544294;
    border-radius: 6px;
    padding: 9px;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    text-align: center;
    color: #FFFFFF;
    border: none;
}

.footer-list {
    max-width: 235px;
    width: 100%;
    height: 106px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    row-gap: 10px;
    align-content: space-between;
}

.footer-link {
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    text-transform: capitalize;
    transition: 500ms;
}

.footer-link:hover {
    color: #D57300;
}

.footer-icons {
    display: flex;
    column-gap: 40px;
}

